<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-tent"></span> Welcome To Refugee Scout!</h1>
             <p>View our hand-picked stories from all over the world</p>
             <p>
                <a class="btn btn-primary btn-lg" href="/stories/new">Add New Story</a>
             </p>
              <p>
              <form action="/stories" method="GET" class="form-inline" id="story-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Story search..." class="form-control">
                </div>
              </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center flex-wrap" id="story-grid">
        <% stories.forEach(function(story){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= story.image %>">
                   <div class="caption">
                       <h4><%= story.name %></h4>
                   </div>
                   <p>
                       <a href="/stories/<%= story._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

